# Music preferences in cities of Springfield and Shelbyville.

# Content <a id='back'></a>

* [Introduction](#intro)
* [Phase 1. Data Description](#data_review)
    * [Conclusions](#data_review_conclusions)
* [Phase 2. Data pre-processing](#data_preprocessing)
    * [2.1 Header style](#header_style)
    * [2.2 Missing Values](#missing_values)
    * [2.3 Duplicates](#duplicates)
    * [2.4 Conclusions](#data_preprocessing_conclusions)
* [Phase 3. Hypotheses Test](#hypotheses)
    * [3.1 Method 1. Statistical Method](#stat)
        * [3.1.1 Hypotheses 1: Users' activity in the two cities](#activity1)
        * [3.1.2 Hipotheses 2: Music preferences on Mondays and Fridays](#week1)
        * [3.3 Hypotheses 3: Gender preferences in Springfield and Shelbyville](#genre1)
    * [3.2 Method 2. Simple Hyphotesis](#stat2)
        * [3.2.1 Hypotheses 1: Users' activity in the two cities](#activity)
        * [3.2.2 Hipotheses 2: Music preferences on Mondays and Fridays](#week)
        * [3.2.3 Hypotheses 3: Gender preferences in Springfield and Shelbyville](#genre)
* [Conclusions](#end)

## Introduction <a id='intro'></a>

This project is focused on analysing data to extract valuable information and make decisions based on it. This involves different stages, such as data overview, preprocessing and hypothesis testing.

Whenever we do research, we need to formulate hypotheses that we can then test. Sometimes we accept these hypotheses; sometimes we reject them. To make the right decisions, a company must be able to understand whether it is making the right assumptions.

In this project, it will be compared the music preferences of the cities of Springfield and Shelbyville. You will study real online music streaming data to test the hypotheses below and compare the behaviour of male and female users in these two cities.

### Objetive:
It tests three hypotheses:
1. Users' activity differs by day of the week and by city.
2. On Monday mornings, people in Springfield and Shelbyville listen to different genres. The same is true on Friday nights.
3. Listeners in Springfield and Shelbyville have different preferences. In Springfield they prefer pop music, while in Shelbyville more people like rap music.

### Phases
The user behaviour data is stored in the file `/datasets/music_project_en.csv`. There is no information about the quality of the data, so it will need to examine it before testing hypotheses.

First, it will assess the quality of the data and see if the problems are significant. Then, during data pre-processing, it will consider the most critical problems.

This project will consist of three stages:
 1. Description of the data
 2. Data pre-processing
 3. Hypothesis testing


### Challenge

In this project, the type of data structure will be included: timestamps, which are very common and deserve additional attention. We need timestamps in this project to test one of our hypotheses.

For example, let's say we have two timestamps: `dt1 = ‘12:00:00:00’` and `dt2 = ‘06:00:00:00’`. We want to compare these two timestamps and see which one is later.

We can compare them using the standard comparison operators (`<`, `>`, `<=`, `>=`, `==`, `!=`).

# Datetime object Comparison

dt1 = "12:00:00"
dt2 = "06:00:00"

if dt1 < dt2:
    print("Time stamp 2 is later")
else:
    print("Time stamp 1 is later")

[Back to the content](#back)

## Phase 1. Data Description <a id='data_review'></a>

The Y.Music data are opened and examined.

In [10]:
# import pandas
import pandas 
import pandas as pd


The `music_project_en.csv` file in the `/datasets/` folder is read and stored in the `df` variable:

In [11]:
# Read the file and store it in df
try:
    df = pandas.read_csv('music_project_en.csv')
except:
    df = pandas.read_csv('/datasets/music_project_en.csv')

df.describe()

          userID  Track     artist  genre       City        time     Day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  08:14:07  Friday
freq          76    136        136   8850        45360        14   23149

In [12]:
# Extracting the first 10 rows of the table df.
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

Obtén la información general sobre la tabla con un comando:

In [13]:
# Obtaining general information on data in df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

These are our observations on the table. It contains seven columns. They all store the same data type: `object`.

According to the documentation:
- `“ userID”` - identifier of the user;
- `“track”` - song title;
- `“artist”` - artist name;
- genre'` - genre of music;
- city'` - user's city;
- time'` - exact time the song was played;
- Day'` - day of the week.

We can see three problems with the styling in the table headings:
1. some headings are in upper case; others are in lower case.
2. There are spaces in some headings.
3. 'Spot the third problem on your own and describe it here.

### Main Remarks / Phase 1 Analysis <a id='data_review_conclusions'></a>

`1.  What kind of data do we have at our disposal in the rows, and how can we understand what the columns store?

`2.  Is there enough data to provide answers to our three hypotheses or do we need more information?

`3.  Did you notice any problems in the data, such as missing values, duplicates or incorrect data types?

**Answer**: Each row of the table stores data for the track that was played. Some columns describe the track itself: its title, artist and genre. The rest conveys the user's information: the city it came from, the time the track was played.

It is clear that the data is sufficient to test the hypothesis. However, there are missing values.

To continue, we need to preprocess the data.

[Back to Content](#back)

## Phase 2. Data Pre-processing <a id='data_preprocessing'></a>

The objective here is to prepare the data for analysis.
The first step is to resolve any problems with the headers. Then we can move on to missing values and duplicates. Let's get started.

Correct the formatting in the table headers.

### Header Style <a id='header_style'></a>
It shows the header styles:

In [14]:
# Headers list of the table df
print(df.columns)

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Table headings should be changed according to the rules of good style:
* all characters should be lower case;
* remove spaces;
* if the name has multiple words, use snake_case.

In [15]:
# Loop in the headings by putting everything in lower case
df = df.rename(columns={
    '  userID':'user_id',
    'Track':'track',
    'artist':'artist',
    'genre':'genre',
    '  City  ':'city',
    'time':'time',
    'Day':'day'
})

In [16]:
# Checking the results: column list names
print(df.columns)

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

[Back to Content](#back)

### Missing Values <a id='missing_values'></a>
First, it finds the number of missing values in the table. To do this, it uses two pandas methods:

In [17]:
# Calculating the number of missing values
df.isna().sum()

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64


Not all missing values affect the investigation. For example, missing values in `track` and `artist` are not crucial. They can simply be replaced with default values such as the string ``unknown``.

But missing values in `'genre` can affect the comparison between the musical preferences of Springfield and Shelbyville. In real life, it would be useful to know the reasons for missing data and try to recover it. But we do not have that opportunity in this project. So it will be necessary to:

* fill in these missing values with a default value;
* assess how much the missing values might affect your computations;

Replace missing values in `“track”`, `“artist”` and `“genre”` with the string `“unknown”`. To do this, create a `columns_to_replace` list, loop through it with a `for` loop and replace the missing values in each column:

In [18]:
# Loop in headers replacing missing values with 'unknown'.
columns_to_replace = ['track','artist','genre'] #Defined function of columns to replace missing values
for replace in columns_to_replace: #Bucle For
    df[replace] = df[replace].fillna('unknown') # Scrolling through the column names and replacing missing values with “unknown”.

In [19]:
# Counting the missing values after fixing them
df.isnull().sum()

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

[Back to Content](#back)

### Duplicates <a id='duplicates'></a>

In [20]:
# Counting explicit duplicates
df.duplicated().sum()

3826

In [21]:
# Eliminar duplicados explícitos
df = df.drop_duplicates().reset_index(drop = True)# eliminando duplicados obvios
df

,user_id,track,artist,genre,city,time,day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
...,...,...,...,...,...,...,...
61248,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
61249,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip,Shelbyville,10:00:00,Monday
61250,C5E3A0D5,Jalopiina,unknown,industrial,Springfield,20:09:26,Friday
61251,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
61252,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday


Counting explicit duplicates once again to ensure that they have been removed:

In [22]:
# Checking the duplicates
df.duplicated().sum()

0


Now we want to get rid of implicit duplicates in the `gender` column. For example, the name of a gender can be written in several ways. Such errors can also affect the result.

To do this, we first display a list of unique gender names, sorted in alphabetical order. To do this we need to:

* retrieve the desired column from the dataFrame;
* call the method that will return all unique column values;
* Apply a sort method to your result.

In [23]:
# Inspecting unique gender names
df = df.sort_values(by ='genre')
print(df['genre'].unique())

['acid' 'acoustic' 'action' 'adult' 'africa' 'afrikaans' 'alternative'
 'ambient' 'americana' 'animated' 'anime' 'arabesk' 'arabic' 'arena'
 'argentinetango' 'art' 'audiobook' 'avantgarde' 'axé' 'baile' 'balkan'
 'beats' 'bigroom' 'black' 'bluegrass' 'blues' 'bollywood' 'bossa'
 'brazilian' 'breakbeat' 'breaks' 'broadway' 'cantautori' 'cantopop'
 'canzone' 'caribbean' 'caucasian' 'celtic' 'chamber' 'children' 'chill'
 'chinese' 'choral' 'christian' 'christmas' 'classical' 'classicmetal'
 'club' 'colombian' 'comedy' 'conjazz' 'contemporary' 'country' 'cuban'
 'dance' 'dancehall' 'dancepop' 'dark' 'death' 'deep' 'deutschrock'
 'deutschspr' 'dirty' 'disco' 'dnb' 'documentary' 'downbeat' 'downtempo'
 'drum' 'dub' 'dubstep' 'eastern' 'easy' 'electronic' 'electropop' 'emo'
 'entehno' 'epicmetal' 'estrada' 'ethnic' 'eurofolk' 'european'
 'experimental' 'extrememetal' 'fado' 'film' 'fitness' 'flamenco' 'folk'
 'folklore' 'folkmetal' 'folkrock' 'folktronica' 'forró' 'frankreich'
 'französisch' 'french' 'funk' 'future' 'gangsta' 'garage' 'german'
 'ghazal' 'gitarre' 'glitch' 'gospel' 'gothic' 'grime' 'grunge' 'gypsy'
 'handsup' "hard'n'heavy" 'hardcore' 'hardstyle' 'hardtechno' 'hip'
 'hip-hop' 'hiphop' 'historisch' 'holiday' 'hop' 'horror' 'house' 'idm'
 'independent' 'indian' 'indie' 'indipop' 'industrial' 'inspirational'
 'instrumental' 'international' 'irish' 'jam' 'japanese' 'jazz' 'jewish'
 'jpop' 'jungle' 'k-pop' 'karadeniz' 'karaoke' 'kayokyoku' 'korean'
 'laiko' 'latin' 'latino' 'leftfield' 'local' 'lounge' 'loungeelectronic'
 'lovers' 'malaysian' 'mandopop' 'marschmusik' 'meditative'
 'mediterranean' 'melodic' 'metal' 'metalcore' 'mexican' 'middle'
 'minimal' 'miscellaneous' 'modern' 'mood' 'mpb' 'muslim' 'native'
 'neoklassik' 'neue' 'new' 'newage' 'newwave' 'nu' 'nujazz' 'numetal'
 'oceania' 'old' 'opera' 'orchestral' 'other' 'piano' 'pop'
 'popelectronic' 'popeurodance' 'post' 'posthardcore' 'postrock' 'power'
 'progmetal' 'progressive' 'psychedelic' 'punjabi' 'punk' 'quebecois'
 'ragga' 'ram' 'rancheras' 'rap' 'rave' 'reggae' 'reggaeton' 'regional'
 'relax' 'religious' 'retro' 'rhythm' 'rnb' 'rnr' 'rock' 'rockabilly'
 'romance' 'roots' 'ruspop' 'rusrap' 'rusrock' 'salsa' 'samba' 'schlager'
 'self' 'sertanejo' 'shoegazing' 'showtunes' 'singer' 'ska' 'slow'
 'smooth' 'soul' 'soulful' 'sound' 'soundtrack' 'southern' 'specialty'
 'speech' 'spiritual' 'sport' 'stonerrock' 'surf' 'swing' 'synthpop'
 'sängerportrait' 'tango' 'tanzorchester' 'taraftar' 'tech' 'techno'
 'thrash' 'top' 'traditional' 'tradjazz' 'trance' 'tribal' 'trip'
 'triphop' 'tropical' 'türk' 'türkçe' 'unknown' 'urban' 'uzbek' 'variété'
 'vi' 'videogame' 'vocal' 'western' 'world' 'worldbeat' 'ïîï']


Search the list to find implicit duplicates of the `hiphop` genre. These may be incorrectly spelled names or alternative names for the same genre.

The following implicit duplicates are identified:
* `hip`
* `hop`
* `hip-hop`

To get rid of them, the function `replace_wrong_genres()` is declared with two parameters:
* `wrong_genres=` - the list of duplicates;
* `correct_genre=` - the string with the correct value.

The function should correct the names in the `“genre”` column of the `df` table, i.e. it replaces each value in the `wrong_genres` list with the value in `correct_genre`. Use a `“for”` loop to iterate over the list of incorrect genres and replace them with the correct genre in the main list.

In [24]:
# Function to replace implicit duplicates
def replace_wrong_genres(wrong_genres, correct_genre): # Función con una lista de valores incorrectos y una string con el valor correcto.
    for wrong_genre in wrong_genres: # un bucle sobre nombres mal escritos/"duplicados"
        df['genre'] = df['genre'].replace(wrong_genre, correct_genre) # llamamos a replace() por cada nombre incorrecto

Calling `replace_wrong_genres()` and passing arguments to it to remove the implicit duplicates (`hip`, `hop` and `hip-hop`) and replace them with `hiphop`:

In [25]:
# Deleting implicit duplicates
duplicates = ['hip','hop','hip-hop'] 
name = 'hiphop' # the correct name
replace_wrong_genres(duplicates, name) # calling the function, replace() will be called 3 times
print(df)

        user_id                       track  \
31916  C40BC5DF            Shot in the Dark
3636   F10919ED          Ready For The Fire
20264  B02ED3AB  Prelude – Ne Me Qui Te Pas
37784  77D3A7D9  Prelude – Ne Me Qui Te Pas
14611  1C7D9E90  Prelude – Ne Me Qui Te Pas
...         ...                         ...
6158   12A10DD5                     Ekatana
17963   653E0EF                     Kalinka
27939  D7FB50DA             Drumming Circle
39063  AA1730E8                         Anu
8448   A439123F                     Flip It

                                                  artist      genre  \
31916                                         Four80East       acid
3636                                    Valley Of Wolves   acoustic
20264                                            unknown   acoustic
37784                                            unknown   acoustic
14611                                            unknown   acoustic
...                                                  ...        ...
6158                                         Shantavaani      world
17963  The Red Army Choirs Of Alexandrov (Les Choeurs...      world
27939                                   Professor Trance  worldbeat
39063                                  Kailash Kokopelli  worldbeat
8448                                             unknown        ïîï

              city      time        day
31916  Springfield  09:44:12     Friday
3636   Shelbyville  21:33:18     Monday
20264  Springfield  13:31:03  Wednesday
37784  Springfield  14:27:34     Monday
14611  Shelbyville  21:47:42     Friday
...            ...       ...        ...
6158   Springfield  14:30:19     Friday
17963  Springfield  21:08:36  Wednesday
27939  Springfield  09:30:47     Monday
39063  Shelbyville  20:16:34  Wednesday
8448   Springfield  09:08:51     Friday

[61253 rows x 7 columns]

In [26]:
# Checking the implicit duplicates
df['genre'].unique()

array(['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans',
       'alternative', 'ambient', 'americana', 'animated', 'anime',
       'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook',
       'avantgarde', 'axé', 'baile', 'balkan', 'beats', 'bigroom',
       'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian',
       'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop',
       'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber',
       'children', 'chill', 'chinese', 'choral', 'christian', 'christmas',
       'classical', 'classicmetal', 'club', 'colombian', 'comedy',
       'conjazz', 'contemporary', 'country', 'cuban', 'dance',
       'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock',
       'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat',
       'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy',
       'electronic', 'electropop', 'emo', 'entehno', 'epicmetal',
       'estrada', 'ethnic', 'eurofolk', 'european', 'experimental',
       'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk',
       'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forró',
       'frankreich', 'französisch', 'french', 'funk', 'future', 'gangsta',
       'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel',
       'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy",
       'hardcore', 'hardstyle', 'hardtechno', 'hiphop', 'historisch',
       'holiday', 'horror', 'house', 'idm', 'independent', 'indian',
       'indie', 'indipop', 'industrial', 'inspirational', 'instrumental',
       'international', 'irish', 'jam', 'japanese', 'jazz', 'jewish',
       'jpop', 'jungle', 'k-pop', 'karadeniz', 'karaoke', 'kayokyoku',
       'korean', 'laiko', 'latin', 'latino', 'leftfield', 'local',
       'lounge', 'loungeelectronic', 'lovers', 'malaysian', 'mandopop',
       'marschmusik', 'meditative', 'mediterranean', 'melodic', 'metal',
       'metalcore', 'mexican', 'middle', 'minimal', 'miscellaneous',
       'modern', 'mood', 'mpb', 'muslim', 'native', 'neoklassik', 'neue',
       'new', 'newage', 'newwave', 'nu', 'nujazz', 'numetal', 'oceania',
       'old', 'opera', 'orchestral', 'other', 'piano', 'pop',
       'popelectronic', 'popeurodance', 'post', 'posthardcore',
       'postrock', 'power', 'progmetal', 'progressive', 'psychedelic',
       'punjabi', 'punk', 'quebecois', 'ragga', 'ram', 'rancheras', 'rap',
       'rave', 'reggae', 'reggaeton', 'regional', 'relax', 'religious',
       'retro', 'rhythm', 'rnb', 'rnr', 'rock', 'rockabilly', 'romance',
       'roots', 'ruspop', 'rusrap', 'rusrock', 'salsa', 'samba',
       'schlager', 'self', 'sertanejo', 'shoegazing', 'showtunes',
       'singer', 'ska', 'slow', 'smooth', 'soul', 'soulful', 'sound',
       'soundtrack', 'southern', 'specialty', 'speech', 'spiritual',
       'sport', 'stonerrock', 'surf', 'swing', 'synthpop',
       'sängerportrait', 'tango', 'tanzorchester', 'taraftar', 'tech',
       'techno', 'thrash', 'top', 'traditional', 'tradjazz', 'trance',
       'tribal', 'trip', 'triphop', 'tropical', 'türk', 'türkçe',
       'unknown', 'urban', 'uzbek', 'variété', 'vi', 'videogame', 'vocal',
       'western', 'world', 'worldbeat', 'ïîï'], dtype=object)

[Back to Content](#back)

### Observations <a id='data_preprocessing_conclusions'></a>

It was detected three problems within the data:

- Incorrect header styles
- Missing values
- Obvious and implicit duplicates

The headers have been removed to make table processing easier.

All missing values have been replaced by “unknown”. But we have yet to see if missing values in “genre” affect our calculations.

The absence of duplicates will make the results more accurate and easier to understand.

Now we can continue to test the hypotheses.

[Back to the Content](#back)

## Phase 3. Hypotheses Test <a id='hypotheses'></a>

### Method 1. Statistical Method <a id='stat'></a>

One of the methods used in this report are the application of statistic function chi-square test, because it is used for independence on genre counts between the two cities at two time periods. However, it must be analysed if the genres that are going to be compared satisfies the Chi-square assumption, making the test result statistically valid.

In [45]:
from scipy.stats import chi2_contingency
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt

Creating a frequency table showing the count of occurrences across the categories being compared.

In [47]:
#Frequency table
contingency = pd.crosstab(df['city'], df['genre'])
contingency

genre,acid,acoustic,action,adult,africa,afrikaans,alternative,ambient,americana,animated,...,urban,uzbek,variété,vi,videogame,vocal,western,world,worldbeat,ïîï
city,,,,,,,,,,,,,,,,,,,,,
Shelbyville,0,2,0,8,4,0,649,64,1,0,...,76,12,14,1,48,25,33,515,1,0
Springfield,1,3,4,16,12,4,1379,183,7,2,...,158,16,24,2,66,68,64,1432,1,1

Before applying the test, it must be validated this key assumption:

Expected frequency in each cell should be ≥ 5
If any expected count is too small, the Chi-square result may be invalid.

In [48]:
#Applying the expected frequency in each cell to validate >= 5
chi2, p, dof, expected = chi2_contingency(contingency)
print(expected)

[[3.02221932e-01 1.51110966e+00 1.20888773e+00 7.25332637e+00
  4.83555091e+00 1.20888773e+00 6.12906078e+02 7.46488172e+01
  2.41777546e+00 6.04443864e-01 3.14310809e+01 2.71999739e+00
  6.04443864e-01 3.02221932e-01 7.85777023e+00 6.04443864e-01
  2.11555352e+00 1.66222063e+01 3.02221932e-01 3.02221932e-01
  3.32444125e+00 5.43999478e+00 4.23110705e+00 6.34666057e+00
  2.11555352e+00 1.51110966e+02 1.51110966e+00 3.02221932e-01
  6.95110444e+00 2.41777546e+00 2.41777546e+00 4.53332898e+00
  6.04443864e-01 6.04443864e-01 9.06665796e-01 9.06665796e-01
  3.50577441e+01 4.83555091e+00 1.51110966e+00 1.56248739e+02
  3.20355248e+01 4.83555091e+00 9.06665796e-01 2.56888642e+01
  6.34666057e+00 6.83626010e+02 2.26666449e+01 3.02221932e+00
  6.04443864e-01 7.25332637e+00 2.26666449e+01 3.02221932e+00
  1.43555418e+02 9.06665796e-01 1.92424704e+03 1.23910992e+01
  5.43999478e+00 9.06665796e-01 3.62666318e+00 3.92888512e+01
  2.11555352e+00 6.04443864e-01 3.02221932e-01 1.81333159e+01
  2.71999739e+00 3.02221932e-01 1.51110966e+00 1.26933211e+01
  2.81066397e+01 7.55554830e+00 5.34932820e+01 5.13777284e+00
  8.31110313e+01 1.66886951e+03 2.11555352e+00 1.20888773e+00
  3.02221932e-01 1.96444256e+01 3.23377467e+01 3.92888512e+00
  4.83555091e+00 3.92888512e+00 1.63199843e+01 7.49510391e+01
  3.02221932e-01 1.11822115e+02 9.67110182e+00 3.62666318e+00
  2.93759718e+02 1.51110966e+00 2.44799765e+01 1.81333159e+01
  3.02221932e-01 3.02221932e-01 3.02221932e-01 3.02221932e-01
  2.50844204e+01 2.17599791e+01 6.64888250e+00 2.71999739e+00
  1.81333159e+00 3.62666318e+00 3.02221932e-01 3.02221932e-01
  3.92888512e+00 1.54133185e+01 3.92888512e+00 1.81333159e+00
  6.04443864e-01 9.06665796e-01 6.04443864e-01 3.83821854e+01
  3.95910731e+01 6.04443864e-01 6.04443864e-01 9.23590224e+02
  3.02221932e-01 7.16265979e+01 3.02221932e-01 8.94576919e+01
  9.06665796e-01 3.02221932e-01 4.83555091e+00 1.90702039e+02
  3.02221932e-01 2.32710888e+01 2.71999739e+00 6.67910470e+01
  4.23110705e+00 3.02221932e-01 3.02221932e-01 9.06665796e-01
  4.43057352e+02 9.06665796e+00 3.80799634e+01 3.02221932e-01
  2.90133055e+01 3.02221932e-01 5.13777284e+00 3.02221932e-01
  1.81333159e+01 3.02221932e-01 2.78346399e+02 6.04443864e-01
  1.51110966e+00 1.08195452e+02 2.11555352e+00 2.38755326e+01
  3.02221932e-01 3.02221932e-01 3.02221932e-01 3.02221932e-01
  3.02221932e+00 6.04443864e-01 2.47821984e+01 3.65688538e+02
  3.02221932e-01 1.20888773e+00 2.41777546e+00 1.63199843e+01
  1.00337681e+02 1.26933211e+01 6.04443864e-01 2.71999739e+00
  2.11555352e+00 9.06665796e-01 6.04443864e-01 3.02221932e-01
  1.71662057e+02 5.43999478e+00 2.71999739e+00 4.83555091e+00
  9.06665796e-01 2.59910862e+01 6.04443864e-01 7.85777023e+00
  9.36887989e+00 9.06665796e-01 1.54133185e+01 1.51110966e+00
  2.51539314e+03 3.02221932e-01 3.02221932e-01 2.41777546e+00
  5.77243890e+01 2.08533133e+01 1.20888773e+00 2.56888642e+01
  4.23110705e+01 8.97599138e+01 3.02221932e-01 1.24213214e+02
  3.02221932e-01 3.02221932e-01 6.04443864e-01 9.06665796e-01
  2.57493086e+02 3.02221932e-01 1.81635381e+02 2.11555352e+00
  3.02221932e-01 1.63199843e+01 2.23644230e+01 1.20888773e+00
  1.51110966e+00 2.87715279e+02 4.23110705e+00 1.76618497e+03
  6.04443864e-01 1.08799896e+01 3.02221932e-01 5.77243890e+02
  5.21332833e+02 1.84959822e+02 2.23644230e+01 1.51110966e+00
  1.20888773e+01 2.71999739e+00 9.06665796e-01 3.02221932e-01
  3.02221932e-01 5.95377206e+01 1.45066527e+01 6.04443864e-01
  2.71999739e+00 2.59910862e+01 6.04443864e-01 3.02221932e-01
  3.37279676e+02 2.71999739e+00 3.02221932e-01 9.06665796e-01
  5.07732846e+01 2.41777546e+00 1.60177624e+01 1.51110966e+00
  2.41777546e+01 3.02221932e-01 3.02221932e-01 2.02488694e+01
  3.02221932e-01 3.02221932e-01 9.36887989e+00 4.56355117e+01
  2.05510914e+01 3.02221932e-01 1.51110966e+00 2.41777546e+00
  3.59644099e+01 3.02221932e-01 9.06665796e-01 2.23644230e+01
  2.53866423e+01 1.20888773e+00 7.55554830e+00 3.40604117e+02
  7.07199321e+01 8.46221410e+00 1.14844334e+01 9.06665796e-01
  3.44533002e+01 2.81066397e+01 2.93155274e+01 5.88426102e+02
  6.04443864e-01 3.02221932e-01]
 [6.97778068e-01 3.48889034e+00 2.79111227e+00 1.67466736e+01
  1.11644491e+01 2.79111227e+00 1.41509392e+03 1.72351183e+02
  5.58222454e+00 1.39555614e+00 7.25689191e+01 6.28000261e+00
  1.39555614e+00 6.97778068e-01 1.81422298e+01 1.39555614e+00
  4.88444648e+00 3.83777937e+01 6.97778068e-01 6.97778068e-01
  7.67555875e+00 1.25600052e+01 9.76889295e+00 1.46533394e+01
  4.88444648e+00 3.48889034e+02 3.48889034e+00 6.97778068e-01
  1.60488956e+01 5.58222454e+00 5.58222454e+00 1.04666710e+01
  1.39555614e+00 1.39555614e+00 2.09333420e+00 2.09333420e+00
  8.09422559e+01 1.11644491e+01 3.48889034e+00 3.60751261e+02
  7.39644752e+01 1.11644491e+01 2.09333420e+00 5.93111358e+01
  1.46533394e+01 1.57837399e+03 5.23333551e+01 6.97778068e+00
  1.39555614e+00 1.67466736e+01 5.23333551e+01 6.97778068e+00
  3.31444582e+02 2.09333420e+00 4.44275296e+03 2.86089008e+01
  1.25600052e+01 2.09333420e+00 8.37333682e+00 9.07111488e+01
  4.88444648e+00 1.39555614e+00 6.97778068e-01 4.18666841e+01
  6.28000261e+00 6.97778068e-01 3.48889034e+00 2.93066789e+01
  6.48933603e+01 1.74444517e+01 1.23506718e+02 1.18622272e+01
  1.91888969e+02 3.85313049e+03 4.88444648e+00 2.79111227e+00
  6.97778068e-01 4.53555744e+01 7.46622533e+01 9.07111488e+00
  1.11644491e+01 9.07111488e+00 3.76800157e+01 1.73048961e+02
  6.97778068e-01 2.58177885e+02 2.23288982e+01 8.37333682e+00
  6.78240282e+02 3.48889034e+00 5.65200235e+01 4.18666841e+01
  6.97778068e-01 6.97778068e-01 6.97778068e-01 6.97778068e-01
  5.79155796e+01 5.02400209e+01 1.53511175e+01 6.28000261e+00
  4.18666841e+00 8.37333682e+00 6.97778068e-01 6.97778068e-01
  9.07111488e+00 3.55866815e+01 9.07111488e+00 4.18666841e+00
  1.39555614e+00 2.09333420e+00 1.39555614e+00 8.86178146e+01
  9.14089269e+01 1.39555614e+00 1.39555614e+00 2.13240978e+03
  6.97778068e-01 1.65373402e+02 6.97778068e-01 2.06542308e+02
  2.09333420e+00 6.97778068e-01 1.11644491e+01 4.40297961e+02
  6.97778068e-01 5.37289112e+01 6.28000261e+00 1.54208953e+02
  9.76889295e+00 6.97778068e-01 6.97778068e-01 2.09333420e+00
  1.02294265e+03 2.09333420e+01 8.79200366e+01 6.97778068e-01
  6.69866945e+01 6.97778068e-01 1.18622272e+01 6.97778068e-01
  4.18666841e+01 6.97778068e-01 6.42653601e+02 1.39555614e+00
  3.48889034e+00 2.49804548e+02 4.88444648e+00 5.51244674e+01
  6.97778068e-01 6.97778068e-01 6.97778068e-01 6.97778068e-01
  6.97778068e+00 1.39555614e+00 5.72178016e+01 8.44311462e+02
  6.97778068e-01 2.79111227e+00 5.58222454e+00 3.76800157e+01
  2.31662319e+02 2.93066789e+01 1.39555614e+00 6.28000261e+00
  4.88444648e+00 2.09333420e+00 1.39555614e+00 6.97778068e-01
  3.96337943e+02 1.25600052e+01 6.28000261e+00 1.11644491e+01
  2.09333420e+00 6.00089138e+01 1.39555614e+00 1.81422298e+01
  2.16311201e+01 2.09333420e+00 3.55866815e+01 3.48889034e+00
  5.80760686e+03 6.97778068e-01 6.97778068e-01 5.58222454e+00
  1.33275611e+02 4.81466867e+01 2.79111227e+00 5.93111358e+01
  9.76889295e+01 2.07240086e+02 6.97778068e-01 2.86786786e+02
  6.97778068e-01 6.97778068e-01 1.39555614e+00 2.09333420e+00
  5.94506914e+02 6.97778068e-01 4.19364619e+02 4.88444648e+00
  6.97778068e-01 3.76800157e+01 5.16355770e+01 2.79111227e+00
  3.48889034e+00 6.64284721e+02 9.76889295e+00 4.07781503e+03
  1.39555614e+00 2.51200104e+01 6.97778068e-01 1.33275611e+03
  1.20366717e+03 4.27040178e+02 5.16355770e+01 3.48889034e+00
  2.79111227e+01 6.28000261e+00 2.09333420e+00 6.97778068e-01
  6.97778068e-01 1.37462279e+02 3.34933473e+01 1.39555614e+00
  6.28000261e+00 6.00089138e+01 1.39555614e+00 6.97778068e-01
  7.78720324e+02 6.28000261e+00 6.97778068e-01 2.09333420e+00
  1.17226715e+02 5.58222454e+00 3.69822376e+01 3.48889034e+00
  5.58222454e+01 6.97778068e-01 6.97778068e-01 4.67511306e+01
  6.97778068e-01 6.97778068e-01 2.16311201e+01 1.05364488e+02
  4.74489086e+01 6.97778068e-01 3.48889034e+00 5.58222454e+00
  8.30355901e+01 6.97778068e-01 2.09333420e+00 5.16355770e+01
  5.86133577e+01 2.79111227e+00 1.74444517e+01 7.86395883e+02
  1.63280068e+02 1.95377859e+01 2.65155666e+01 2.09333420e+00
  7.95466998e+01 6.48933603e+01 6.76844726e+01 1.35857390e+03
  1.39555614e+00 6.97778068e-01]]

Analysis: From this table it can be seen that many cells have values < 5:

In this case, it needs to group similar categories of genre (e.g., grouping rare genres into "Other")

In [49]:
#Grouping rare genres (adjusting threshold as needed)
top_genres = df['genre'].value_counts().nlargest(10).index
df['genre_grouped'] = df['genre'].apply(lambda x: x if x in top_genres else 'Other')

In [50]:
df.info() #checking the new column in df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61253 entries, 31916 to 8448
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        61253 non-null  object
 1   track          61253 non-null  object
 2   artist         61253 non-null  object
 3   genre          61253 non-null  object
 4   city           61253 non-null  object
 5   time           61253 non-null  object
 6   day            61253 non-null  object
 7   genre_grouped  61253 non-null  object
dtypes: object(8)
memory usage: 4.2+ MB

In [51]:
#Usign the 'genre_grouped' for the chi-square assumption
contingency2 = pd.crosstab(df['city'], df['genre_grouped'])

chi2, p, dof, expected = chi2_contingency(contingency2)
print(expected)

Now that the genres are grouped, all expected frequencies are above 5, many are in the hundreds or thousands.

- This satisfies the Chi-square assumption, making the test result statistically valid.

On the other hand, each row (observation) in the data is independent. It means to say that, for example, a single user's multiple plays shouldn't be treated as independent if they are heavily repeated. Moreover, the high number of data rows is another requirement for using the chi-square test.

In conclusion, now the statistical chi-square hypothesis can be applied.

#### Hypothesis 1: Comparing user behaviour in the two cities  <a id='activity1'></a>

- H₀ (Null Hypothesis): User activity is independent of the day of the week and city
- H₁ (Alternative Hypothesis): User activity depends on the day and city

In [56]:
# Count users per city and day
activity = df.groupby(['city', 'day'])['user_id'].nunique().unstack()

# Chi-square test
chi2, p, dof, expected = stats.chi2_contingency(activity.fillna(0))

print("Chi-square Test")
print("Chi2:", chi2, "P-value:", p)

Chi-square Test
Chi2: 631.5379936938191 P-value: 7.299063018372907e-138

**Conclusion**: p-value is less than 0.05. There is a statistically significant association between the day of the week and the city in terms of user activity. In other words, user activity patterns do vary across different days and cities.

- City-specific behavior: Some cities are likely more active on certain days than others.

- Business insight: Marketing or app engagement strategies can be tailored by city and day of the week to optimize reach.

#### Hypothesis 2: On Monday mornings and Friday nights, Springfield and Shelbyville listen to different genres  <a id='week1'></a>

- H₀ (Null Hypothesis): Genre preferences are the same in Springfield and Shelbyville during Monday mornings and Friday nights.

- H₁ (Alternative Hypothesis): Genre preferences differ between Springfield and Shelbyville during those times.

Here, the chi-square is the most suitable, because it is great for testing independence across multiple categories (e.g., genre preference across all genres and both cities).

In [60]:

# Preprocess: extract hour from time column
df['hour'] = pd.to_datetime(df['time']).dt.hour

# Filter Monday morning (7:00 to 11:59)
monday_morning = df[
    (df['day'] == 'Monday') &
    (df['hour'] >= 7) & (df['hour'] < 12)
]

# Filter Friday night (17:00 to 23:59)
friday_night = df[
    (df['day'] == 'Friday') &
    (df['hour'] >= 17) & (df['hour'] < 24)
]

# Create contingency tables
monday_genre = pd.crosstab(monday_morning['genre'], monday_morning['city'])
friday_genre = pd.crosstab(friday_night['genre'], friday_night['city'])

# Run chi-square test for Monday morning
chi2_monday, p_monday, _, _ = chi2_contingency(monday_genre)
print("🟦 Monday Morning Genre Test")
print("H0: Genre preferences are the same in both cities")
print("Chi2:", chi2_monday, "P-value:", p_monday)

# Run chi-square test for Friday night
chi2_friday, p_friday, _, _ = chi2_contingency(friday_genre)
print("\n🟨 Friday Night Genre Test")
print("H0: Genre preferences are the same in both cities")
print("Chi2:", chi2_friday, "P-value:", p_friday)

🟦 Monday Morning Genre Test
H0: Genre preferences are the same in both cities
Chi2: 196.5258689800999 P-value: 0.015455869304097746

🟨 Friday Night Genre Test
H0: Genre preferences are the same in both cities
Chi2: 194.26633801873584 P-value: 0.15159399431250478

**Conclusions:**
- For Monday mornings listening: p-value < 0.05. The null hypothesis (H₀) is rejected for Monday morning.
There is a statistically significant difference in genre preferences between Springfield and Shelbyville during Monday mornings. Indicates that the data are unlikely under H₀, it means that, we cannot conclude that genre preferences are the same in Springfield and Shelbyville during Monday mornings.

- For Friday nights listening:  p-value < 0.05. The null hyphotesis is rejected for Friday nights.
There is no statistically significant difference in genre preferences between Springfield and Shelbyville during Friday nights. Indicates that the data are unlikely under H₀, it means that, we cannot conclude that genre preferences are the same in Springfield and Shelbyville during Friday nights.

#### Hypothesis 3: Springfield prefers pop, Shelbyville prefers rap <a id='genre1'></a>

- H₀ (Null Hypothesis): The proportion of pop and rap listeners is the same in Springfield and Shelbyville.

- H₁ (Alternative Hypothesis): Springfield has a higher proportion of pop, and Shelbyville has a higher proportion of rap.

Here, we do not use chi-square test, because it is more general, less targeted for a binary comparison such as this "Hypothesis 3" where is comparing 2 (binary) specific genres. Furthermore, it is not t-student test, because, the t-test is for comparing means of continuous variables, like average listening time or volume of plays—not proportions or counts, and genre is categorical, not numerical.

The best option here is the z-test because it compares proportions between two independent groups and the data is categorical and binary.

In [63]:
#Checking if the dataset is large enough to use the z-test

# 1. Filter for pop and rap genres in Springfield and Shelbyville
filtered_df = df[
    (df['city'].isin(['Springfield', 'Shelbyville'])) &
    (df['genre'].isin(['pop', 'rap']))
]

# 2. Count number of 'pop' and 'rap' listeners per city
genre_counts = filtered_df.groupby(['city', 'genre']).size().unstack(fill_value=0)

# Total listeners per city
springfield_total = genre_counts.loc['Springfield'].sum()
shelbyville_total = genre_counts.loc['Shelbyville'].sum()

# Pop listener count per city
springfield_pop = genre_counts.loc['Springfield', 'pop']
shelbyville_pop = genre_counts.loc['Shelbyville', 'pop']

# 3. Check np and n(1-p) for both cities
print("Springfield:")
print("np (pop):", springfield_pop)
print("n(1-p) (non-pop = rap):", springfield_total - springfield_pop)

print("Shelbyville:")
print("np (pop):", shelbyville_pop)
print("n(1-p) (non-pop = rap):", shelbyville_total - shelbyville_pop)

# Optional: auto-check pass/fail
def check_conditions(n, p_label, city_name):
    np = n[p_label]
    n_not_p = n.sum() - np #condition n*p>=5 to assure sample is large enough for using z-test 
    result = (np >= 5) and (n_not_p >= 5) 
    print(f" Z-test suitability for {city_name}: {'PASS' if result else 'FAIL'}")

check_conditions(genre_counts.loc['Springfield'], 'pop', 'Springfield')
check_conditions(genre_counts.loc['Shelbyville'], 'pop', 'Shelbyville')

Springfield:
np (pop): 5892
n(1-p) (non-pop = rap): 543
Shelbyville:
np (pop): 2431
n(1-p) (non-pop = rap): 309
 Z-test suitability for Springfield: PASS
 Z-test suitability for Shelbyville: PASS

Now, the z-test is applied as follows:

In [64]:
from statsmodels.stats.proportion import proportions_ztest

# 1. Count listeners per genre per city
genre_counts = filtered_df.groupby(['city', 'genre']).size().unstack(fill_value=0)

# Print genre counts table
print("🎧 Genre counts:\n", genre_counts)

# 2. --------- POP PREFERENCE TEST ----------
springfield_pop = genre_counts.loc['Springfield', 'pop']
shelbyville_pop = genre_counts.loc['Shelbyville', 'pop']
springfield_total = genre_counts.loc['Springfield'].sum()
shelbyville_total = genre_counts.loc['Shelbyville'].sum()

count_pop = [springfield_pop, shelbyville_pop]
nobs_pop = [springfield_total, shelbyville_total]

stat_pop, pval_pop = proportions_ztest(count_pop, nobs_pop)
print("\n🟦 Pop Preference Test (Springfield vs Shelbyville)")
print("H₀: Both cities have the same proportion of pop listeners")
print("Z-statistic:", round(stat_pop, 3), "| P-value:", round(pval_pop, 5))

# 3. --------- RAP PREFERENCE TEST ----------
springfield_rap = genre_counts.loc['Springfield', 'rap']
shelbyville_rap = genre_counts.loc['Shelbyville', 'rap']

count_rap = [shelbyville_rap, springfield_rap]
nobs_rap = [shelbyville_total, springfield_total]

stat_rap, pval_rap = proportions_ztest(count_rap, nobs_rap)
print("\n🟨 Rap Preference Test (Shelbyville vs Springfield)")
print("H₀: Both cities have the same proportion of rap listeners")
print("Z-statistic:", round(stat_rap, 3), "| P-value:", round(pval_rap, 5))

🎧 Genre counts:
 genre         pop  rap
city
Shelbyville  2431  309
Springfield  5892  543

🟦 Pop Preference Test (Springfield vs Shelbyville)
H₀: Both cities have the same proportion of pop listeners
Z-statistic: 4.288 | P-value: 2e-05

🟨 Rap Preference Test (Shelbyville vs Springfield)
H₀: Both cities have the same proportion of rap listeners
Z-statistic: 4.288 | P-value: 2e-05

**Conclusions:**

- For Pop listeners test: p-value < 0.05 and the H0 is rejected. There is a statistically significant difference in the proportion of pop listeners, with Springfield showing a higher proportion than Shelbyville.
- For Rap listeners test: p-value < 0.05 and the H0 is rejected. There is a statistically significant difference in the proportion of rap listeners, with Shelbyville showing a higher proportion than Springfield.

It means to say that we cannot conclude in both cases that both cities have the same proportion of pop/rap listeners.

### Method 2: Hypothesis <a id='stat2'></a>

#### Hypothesis 1: Comparing user behaviour in the two cities. <a id='activity'></a>


The first hypothesis states that there are differences in the way male and female users in Springfield and Shelbyville consume music. To test this, it uses data from three days of the week: Monday, Wednesday and Friday.

* Group the users by city.
* Compare the number of songs each group played on Monday, Wednesday and Friday.

For this, each calculation will be done separately.

To evaluate the activity of users in each city, the data will be grouped by city and the number of songs played in each group will be found.

In [64]:
# Counting the songs played in each city
df.groupby('city')['track'].count()

city
Shelbyville    18512
Springfield    42741
Name: track, dtype: int64


Springfield has played more tracks than Shelbyville. But that does not imply that Springfield citizens listen to music more often. This city is simply bigger and there are more users.

Now the data will be grouped by day of the week and it will be found the number of tracks played on Monday, Wednesday and Friday.

In [65]:
# calculating the number of songs played on each of the three days
df.groupby('day')['track'].count()# calculando las pistas reproducidas en cada uno de los tres días

day
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

Wednesday was the quietest day of all. But if we consider the two cities separately we might come to a different conclusion.

Now you need to write a function that can count entries by both criteria simultaneously.

For this you create `number_tracks()` to calculate the number of songs played on a given day and city. The function must accept two parameters:

- `day`: a day of the week to filter for. For example, `'Monday`.
- `city`: a city to filter on. For example, `“Springfield”`.

Within the function, consecutive filtering with logical indexing will be applied.

First the data is filtered by day and then the resulting table is filtered by city.

After filtering the data by two criteria, the number of values in the column “user_id” in the resulting table is counted. This count represents the number of entries being searched.

In [66]:
#Creating the function 'number_tracks'
def number_tracks(day,city):
    track_list = df[(df['day'] == day) & (df['city'] == city)]
    track_list_count = track_list['user_id'].count()
    print(track_list_count)
  
number_tracks('Wednesday','Springfield') #calling the function fixing the day and city as shown:

11056


Calling `number_tracks()` six times, changing the parameter values so that you retrieve data for both cities for each of the three days.

In [67]:
# The number of songs played in Springfield on Monday
number_tracks('Monday','Springfield')

15740

In [68]:
# Number of songs played in Shelbyville on Monday
number_tracks('Monday','Shelbyville')

5614

In [69]:
# The number of songs played in Springfield on Wednesday
number_tracks('Wednesday','Springfield')

11056

In [70]:
# Number of songs played in Shelbyville on Wednesday
number_tracks('Wednesday','Shelbyville')

7003

In [71]:
# The number of songs played in Springfield on Friday
number_tracks('Friday','Springfield')

15945

In [72]:
# Number of songs played in Shelbyville on Friday
number_tracks('Friday','Shelbyville')

5895


We create `pd.DataFrame` to create a table, where:

* The table headers are: `[“city”, “monday”, “wednesday”, “friday”]`.
* The data is the results obtained from `number_tracks()`.

In [73]:
# Table Results
datos = [['Shelbyville',5614,7003,5895],
         ['Springfield',15740,11056,15945]]
column_names = ['city','monday','wednesday','friday']
tabla = pd.DataFrame(data=datos, columns=column_names)

print(tabla)

          city  monday  wednesday  friday
0  Shelbyville    5614       7003    5895
1  Springfield   15740      11056   15945

**Conclusions**

The data reveals differences in user behaviour:

In Springfield, the number of songs played peaks on Mondays and Fridays while there is a drop in activity on Wednesdays.
In Shelbyville, on the contrary, users listen to more music on Wednesdays. User activity on Mondays and Fridays is lower.
So the first hypothesis seems to be correct.

[Volver a Contenidos](#back)

#### Hypothesis 2: music at the beginning and end of the week <a id='week'></a>

According to the second hypothesis, on Monday mornings and Friday nights, Springfield citizens listen to different genres than those enjoyed by Shelbyville users.

Create two tables with the names provided in the following two code blocks:
* For Springfield - `spr_general`.
* For Shelbyville - `shel_general`.

In [74]:
# #create the table spr_general from the rows df where the value in the “city” column is “Springfield”.
spr_general = df[df['city']=='Springfield']

In [75]:
# #create the table spr_general from the rows df where the value in the “city” column is “Shelbyville".
shel_general = df[df['city']=='Shelbyville']


The function `genre_weekday()` is written with four parameters:
* a table for the data (`df`)
* the day of the week (`day`)
* The first timestamp, in the format (`time1`)
* The last timestamp, in format (`time2`)

The function will return information on the 15 most popular genres for a given day in a period between two timestamps.
The same consecutive filtering logic will then be applied, but this time using four filters, and then a new column will be created with the respective play counts.

In [76]:
# Creating the variable genre_df which will store only those df rows where the day is equal to day=
def genre_weekday(dataframe,day,time1,time2):#declara funcion genre_weekday()   
    genre_df = dataframe[(dataframe['day'] == day) & (dataframe['time'] > time1) & (dataframe['time'] < time2) ] 
    
    # Filter genre_df again to store only the rows where the time is less than time2=
    genre_df = genre_df[genre_df['time'] < time2]

    # Filter genre_df again to store only rows where the time is greater than time1=
    genre_df = genre_df[genre_df['time'] > time1]

    # Group the filtered DataFrame by the column with the genre names, select the column “genre”,
    # and find the number of rows for each genre with the count() method
    genre_df_count = genre_df.groupby('genre')['user_id'].count()

    # Sort the resulting Series object in descending order (so that the most popular genres appear first in the Series object)
    genre_df_sorted = genre_df_count.sort_values(ascending = False)

    # Return a Series object with the first 15 values of genre_df_sorted the 15 most popular genres (on a given day, within a given timeframe period)
    return genre_df_sorted[:15]

We compare the results of the `genre_weekday()` function for Springfield and Shelbyville on Monday morning (from 7 to 11) and Friday afternoon (from 17:00 to 23:00). Using the same 24-hour format as the dataset (e.g. 05:00 = 17:00:00):

In [77]:
# calling the function for Monday morning in Springfield (using spr_general instead of the df table)
genre_weekday(spr_general,'Monday','07:00','11:00')

genre
pop            781
dance          549
electronic     480
rock           474
hiphop         286
ruspop         186
world          181
rusrap         175
alternative    164
unknown        161
classical      157
metal          120
jazz           100
folk            97
soundtrack      95
Name: user_id, dtype: int64

In [78]:
# calling the function for Monday morning in Shelbyville (using shel_general instead of the df table)
genre_weekday(shel_general,'Monday','07:00','11:00')

genre
pop            218
dance          182
rock           162
electronic     147
hiphop          80
ruspop          64
alternative     58
rusrap          55
jazz            44
classical       40
world           36
rap             32
soundtrack      31
rnb             27
metal           27
Name: user_id, dtype: int64

In [81]:
# calling the show for Friday evening in Springfield
genre_weekday(spr_general,'Friday','17:00','23:00')

genre
pop            713
rock           517
dance          495
electronic     482
hiphop         273
world          208
ruspop         170
classical      163
alternative    163
rusrap         142
jazz           111
unknown        110
soundtrack     105
rnb             90
metal           88
Name: user_id, dtype: int64

In [82]:
# Calling the show for Friday afternoon in Shelbyville
genre_weekday(shel_general,'Friday','17:00','23:00')

genre
pop            256
rock           216
electronic     216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
unknown         47
ruspop          47
soundtrack      40
metal           39
rap             36
Name: user_id, dtype: int64

**Conclusion**

Having compared the 15 most popular Monday morning genres we can conclude the following:

1. Springfield and Shelbyville users listen to similar music. The five most popular genres are the same, only rock and electronica have swapped positions.

2. In Springfield the number of missing values turned out to be so high that the value “unknown” reached tenth. This means that missing values form a considerable part of the data, which could be the basis of the question about the reliability of our conclusions.

For Friday afternoon, the situation is similar. The individual genres vary somewhat, but overall, the 15 most popular genres are similar in the two cities.

Thus, the second hypothesis has been partially proven:

- Users listen to similar music at the beginning and end of the week.
- There is not a big difference between Springfield and Shelbyville. In both cities, pop is the most popular genre.

However, the number of missing values makes this result somewhat questionable. In Springfield, there are so many that they affect our 15 most popular. If we weren't missing those values, things might look different.

[Volver a Contenidos](#back)

#### Hypothesis 3: Gender preferences in Springfield and Shelbyville <a id='genre'></a>

Grouping the `spr_general` table by genre and find the number of played songs of each genre with the `count()` method. Then the results will be sorted in descending order and stored it in `spr_genres`.

In [83]:
y = spr_general.groupby('genre')['user_id']# in one line: group the spr_general table by the 'genre' column, 
x = y.count()# count the 'genre' values with count() in the grouping, 
spr_genres = x.sort_values(ascending = False) #resulting in descending order, and store in spr_genres

In [85]:
# Showing the first 10 rows of spr_genres
print(spr_genres.head(10))

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: user_id, dtype: int64


The same will now be done for the Shelbyville data.

In [86]:

y = shel_general.groupby('genre')['user_id']# in one line: group the shel_general table by 'genre' column, 
x = y.count()# count the 'genre' values with count() in the grouping, 
shel_genres = x.sort_values(ascending = False)# sort the resulting Series in descending order and store in shel_genres

In [87]:
# Showing the first 10 rows of shel_genres
print(shel_genres.head(10))

genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: user_id, dtype: int64

**Conclusion**


The hypothesis has been partially proven:

Pop music is the most popular genre in Springfield, as expected.
However, pop music has turned out to be just as popular in Springfield as in Shelbyville, and rap was not in the top 5 in either city.

[Volver a Contenidos](#back)

# Final Conclusions of this Project <a id='end'></a>

We have tested the following three hypotheses:

Method 1: Chi-square test and z-test test:

1. There is a statistically significant difference in user activity across days and cities, and it cannot be concluded that the listening activity for users is independent acroos days and cities are the same. 

2. We cannot conclude that genre preferences are the same in Springfield and Shelbyville during Monday mornings and Friday nights.

3. For Pop listeners there is a statistically significant difference in the proportion of pop listeners, with Springfield showing a higher proportion than Shelbyville. For Rap listeners test there is a statistically significant difference in the proportion of rap listeners, with Shelbyville showing a higher proportion than Springfield.


Method 2: using basic analysis

1. User activity differs depending on the day of the week and the different cities.
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. The same is true for Friday nights.
3. Springfield and Shelbyville listeners have different preferences. In both cities, Springfield and Shelbyville, pop is preferred.

After analysing the data, we conclude:

1. User activity in Springfield and Shelbyville depends on the day of the week although the cities vary in different ways.

The first hypothesis is fully accepted.

2. Music preferences do not vary significantly over the course of the week in Springfield and Shelbyville. We can observe small differences in the order on Mondays, but:
- In Springfield and Shelbyville people listen most to pop music.

Thus we cannot accept this hypothesis. We should also note that the result might have been different if it were not for the missing values.

3. It turns out that the musical preferences of Springfield and Shelbyville users are quite similar.

The third hypothesis is rejected. If there is any difference in preferences it cannot be seen in the data.

[Back to Content](#back)